.row.card.card-body.bg-light
  %table.table
    %thead
      %tr
        %th Name
        %th
        %th
    %tbody
      - @friends.each do |f|
        %tr
          %td= f.name
          %td
            = link_to 'Show', member_path(f), class: 'btn btn-primary'