.row
  .col-4
    %h1 Members
  .col-8
    = link_to "New Member", new_member_path, class: "btn btn-info float-right mr-top"
  %table.table
    %thead
      %tr
        %th Name
        %th Website Url
        %th Shortened Url
        %th
        %th
    %tbody
      =render @members